*{
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
  }

  .container {
    display: grid;
    grid-template-areas: 
    'bold-text bold-text bold-text right right right'
    'smaller-text smaller-text smaller-text right right right'
    'stats stats stats right right right'
    'words words words right right right';
    
  }

  .left{
    
  }

  .bold-text {
    font-weight: bold;
    text-align: center;
  }

  .smaller-text {
    font-size: 14px;
    text-align: center;
  }

  .right {
    
    
    width: 100%;
    height: 100%;
    
  }

  .stats{
    text-align: center;
    
  }

  .ten{

    font-size: large;

  }

  .three{
    font-size: large;

  }
  .million{
    font-size: large;

  }

  